/* *{border: 1px solid #000;} */
header{
  background-image: url(https://r4u8h2y4.map2.ssl.hwcdn.net/header/bikes_freestyle.jpg);
  height: 300px;
background-position: 50% 50%;
 background-size: cover;
}